@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: var(--font-inter);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.neon {
  box-shadow: 0 0 20px #22d3ee;
  border: 1px solid #22d3ee;
  transition: 500ms;
}

.neon:hover {
  box-shadow: 0 0 20px #a8e9f3;
  border: 1px solid #99d1db;
  transition: 500ms;
}

.neon-btn {
  box-shadow: 0 0 10px rgba(34, 211, 238, 0.2);
  border: 1px solid rgba(34, 211, 238, 0.3);
  transition: 0.2s ease;
}

.neon-btn:hover {
  box-shadow: 0 0 25px rgba(34, 211, 238, 0.8);
  transform: scale(1.05);
  transition: 0.2s ease;;
}