@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;


  --bg: #0b1120;
  --surface: #111827;

  --text: #e2e8f0;

  --primary: #22d3ee;
  --accent: #8b5cf6;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: var(--font-inter);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--bg);
  color: var(--text);
}

.neon {
  box-shadow: 0 0 20px rgba(34, 211, 238, 0.4);
  border: 1px solid rgba(34, 211, 238, 0.4);
  transition: 500ms;
}

.neon:hover {
  box-shadow: 0 0 20px #a8e9f3;
  border: 1px solid #99d1db;
  transition: 500ms;
}

.neon-btn {
  box-shadow: 0 0 10px rgba(34, 211, 238, 0.2);
  border: 1px solid rgba(34, 211, 238, 0.3);
  transition: 0.2s ease;
}

.neon-btn:hover {
  box-shadow: 0 0 25px rgba(34, 211, 238, 0.8);
  transform: scale(1.05);
  transition: 0.2s ease;;
}

.unset_sticky {
  position: unset;
  top: unset;
  transition: 200ms;
}

.links_color {
  color: #e2e8f0;
  transition: 250ms;
}

.links_color:hover {
  color: #22d3ee;
  transition: 250ms;
}

.btn_bg {
  color: #8B5CF6
}
.btn_bg:hover {
  color: #A78BFA
}